*{
  padding: 0px;
  margin: 0px;
}
body{
  background: #3C091A;
  height: 100%;
  width: 100vw;
}
.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-img{
  width: 50vw;
  padding: 3vw;
}
.home-button{
  width: 40vw;
  background: #3C091A;
  border: 0px;
}
.home-link{
  text-decoration: none;
  color: #A78A68;
  font-size: large;
}
.all{
  padding: 1vw;
}
.choose{
  color: #A78A68;
  text-align: center;
  padding: 5vw;
}
.surahs{
  background: radial-gradient(#A78A68, #3C091A);
  width: 30vw;
  height: 30vw;
  border-radius: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2vw;
}
.souar{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
}
.surah{
  color: #3C091A;
  text-decoration: none;
}
