*{
  padding: 0px;
  margin: 0px;
}
body{
  background: #3C091A;
  height: 100%;
  width: 100vw;
}
.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-img{
  width: 50vw;
  padding: 3vw;
}
.home-button{
  width: 40vw;
  background: #3C091A;
  border: 0px;
}
.home-link{
  text-decoration: none;
  color: #A78A68;
  font-size: large;
}
.all{
  padding: 1vw;
}
.choose{
  color: #A78A68;
  text-align: center;
  padding: 5vw;
}
.souar{
  background: radial-gradient(#A78A68, #3C091A);
  width: 35vw;
  height: 35vw;
  border-radius: 17.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5vw;
}
.surahs{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
}
.surah{
  color: #3C091A;
  text-decoration: none;
}
@media (min-width: 768){
*{
  padding: 0px;
  margin: 0px;
}
body{
  background: #3C091A;
  height: 100%;
  width: 100vw;
}
.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-img{
  width: 60vw;
  padding: 5vw;
}
.home-button{
  width: 40vw;
  background: #3C091A;
  border: 0px;
}
.home-link{
  text-decoration: none;
  color: #A78A68;
  font-size: large;
}
.all{
  padding: 2vw;
}
.choose{
  color: #A78A68;
  text-align: center;
  padding: 5vw;
}
.surahs{
  background: radial-gradient(#A78A68, #3C091A);
  width: 30vw;
  height: 30vw;
  border-radius: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3.3vw;
}
.souar{
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: auto;
}
.surah{
  color: #3C091A;
  text-decoration: none;
}

@media (min-width: 1032){
*{
  padding: 0px;
  margin: 0px;
}
body{
  background: #3C091A;
  height: 100%;
  width: 100vw;
}
.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-img{
  width: 60vw;
  padding: 5vw;
}
.home-button{
  width: 40vw;
  background: #3C091A;
  border: 0px;
}
.home-link{
  text-decoration: none;
  color: #A78A68;
  font-size: large;
}
.all{
  padding: 2vw;
}
.choose{
  color: #A78A68;
  text-align: center;
  padding: 5vw;
}
.surahs{
  background: radial-gradient(#A78A68, #3C091A);
  width: 30vw;
  height: 30vw;
  border-radius: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3.3vw;
}
.souar{
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: auto;
}
.surah{
  color: #3C091A;
  text-decoration: none;
}


@media (min-width: 1279){
*{
  padding: 0px;
  margin: 0px;
}
body{
  background: #3C091A;
  height: 100%;
  width: 100vw;
}
.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-img{
  width: 60vw;
  padding: 5vw;
}
.home-button{
  width: 40vw;
  background: #3C091A;
  border: 0px;
}
.home-link{
  text-decoration: none;
  color: #A78A68;
  font-size: xx-large;
}
.all{
  padding: 3vw;
}
.choose{
  color: #A78A68;
  text-align: center;
  padding: 5vw;
}
.surahs{
  background: radial-gradient(#A78A68, #3C091A);
  width: 20vw;
  height: 20vw;
  border-radius: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3vw;
}
.souar{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
}
.surah{
  color: #3C091A;
  text-decoration: none;
}

@media (min-width: 1528){
*{
  padding: 0px;
  margin: 0px;
}
body{
  background: #3C091A;
  height: 100%;
  width: 100vw;
}
.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-img{
  width: 60vw;
  padding: 5vw;
}
.home-button{
  width: 40vw;
  background: #3C091A;
  border: 0px;
}
.home-link{
  text-decoration: none;
  color: #A78A68;
  font-size: large;
}
.all{
  padding: 2vw;
}
.choose{
  color: #A78A68;
  text-align: center;
  padding: 5vw;
}
.surahs{
  background: radial-gradient(#A78A68, #3C091A);
  width: 18vw;
  height: 18vw;
  border-radius: 9vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2vw;
}
.souar{
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: auto;
}
.surah{
  color: #3C091A;
  text-decoration: none;
}